<%= render 'layouts/errors', :object => @rental %>

<div class="container">
  <%= form_for [@city, @rental], remote: true do |f| %>
    <div class="form-group well">
      <div class="form-inline">
        <%= f.label :owner %>
        <%= f.text_field :owner %>
      </div>

      <div class="form-inline">
        <%= f.label :kind %>
        <%= f.text_field :kind %>
      </div>

      <div class="form-inline">
        <%= f.label :image %>
        <%= f.text_field :image %>
      </div>

      <div class="form-inline">
        <%= f.label :bedrooms %>
        <%= f.number_field :bedrooms %>
      </div>

      <div class="form-inline">
        <%= f.submit  %>
      </div>
    </div>
  <% end %>
</div>
